<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Abdolphin -Real Estate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!--External CSS libraries-->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/bootstrap-submenu.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets2/css/leaflet.css" type="text/css">
    <link rel="stylesheet" href="~/assets2/css/map.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/assets2/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/slick.css">
    <!--Custom stylesheet-->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/assets2/css/skins/default.css">
    <!--Favicon icon-->
    <link rel="shortcut icon" href="~/assets2/img/favicon.png" type="image/x-icon">
    <!--Google fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CRoboto:300,400,500,700&amp;display=swap">
    <!--IE10 viewport hack for Surface/desktop Windows 8 bug-->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/ie10-viewport-bug-workaround.css">
    <!--[if lt IE 9]><script src="~/assets2/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/assets2/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <div class="page_loader"></div>
    <!--Main header start-->
    <header class="main-header mh-3 header-transparent">
        <div class="container-fluid" style="padding: 0 10%;">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logos" href="/Website/Index">
                    <img src="~/assets2/img/logos/logo.png" alt="logo" class="logo-none-2">
                    <img src="~/assets2/img/logos/logo.png" alt="logo" class="logo-none">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars text-white"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Website/Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class=""><a class="dropdown-item" href="/Website/CompanyOverview">Company Overview</a></li>
                                <li class=""><a class="dropdown-item" href="/Website/OurTeam">Our Team</a></li>
                                <li class=""><a class="dropdown-item" href="/Website/VisionAndMission">Vision & Mission</a></li>
                                <li class=""><a class="dropdown-item" href="/Website/qualitypolicy">Quality Policy</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Website/UnitAvailability">Unit Availability</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maps</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class=""><a class="dropdown-item" href="~/assets2/img/project-map/Dolphine-smartcity.pdf" target="_blank">Map 1 Deoria</a></li>
                                <li class=""><a class="dropdown-item" href="~/assets2/img/project-map/final-city.pdf" target="_blank">Map 2 Maniram Gorakhpur</a></li>
                                <li class=""><a class="dropdown-item" href="~/assets2/img/project-map/diamond-city.pdf" target="_blank">Map 3 Diamond City</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Website/Gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Website/contact">Contact Us</a>
                        </li>
                        <!-- <li class ="nav-item login-ml">
                            <a class ="btn btn-sm btn-block-outline signup-link" href="login.html">Login</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="btn btn-sm btn-block  signup-link hidden-mb-20" href="/Home/LoginWeb">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <!--Footer start-->
    <footer class="footer">
        <div class="container footer-inner">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <div class="text-center">
                            <img src="~/assets2/img/logos/logo.png" alt="footer-img" width="130px">
                        </div>
                        <ul class="contact-info mt-4">
                            <li>
                                Hand selected, local experienced agents, and neighborhood specialists, work with you to achieve your goals.The highest level of market knowledge.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>Properties Types</h4>
                        <ul class="links">
                            <li>
                                <a>Apartment</a>
                            </li>
                            <li>
                                <a>Restaurant</a>
                            </li>
                            <li>
                                <a>My Houses</a>
                            </li>
                            <li>
                                <a>Villa & Condo</a>
                            </li>
                            <li>
                                <a>Family House</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>Quick Links</h4>
                        <ul class="links">
                            <li>
                                <a href="/Website/CompanyOverview">About Us</a>
                            </li>
                            <li>
                                <a href="/Website/UnitAvailability">Unit Availability</a>
                            </li>
                            <li>
                                <a href="/Website/gallery">Gallery</a>
                            </li>
                            <li>
                                <a href="/Website/contact">Contact Us</a>
                            </li>
                            <li>
                                <a href="/Home/LoginWeb">Login</a>
                            </li>
                            <li>
                                <a href="/Website/PrivacyPolicy" target="_blank">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item clearfix">
                        <h4>Contact us</h4>
                        <ul class="contact-info">
                            <li>
                                <i class="fa fa-home"></i> Khajanchi Chauraha Padri Bazar Road, Gorakhpur
                            </li>
                            <li>
                                <a href="mailto:info@abdolphininfratech.com"><i class="fa fa-envelope"></i> info@abdolphininfratech.com</a>
                            </li>
                            <li>
                                <a href="tel:+91 6389 002 500"><i class="fa fa-phone"></i> +91 6389 002 500</a>
                            </li>
                        </ul>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Sub footer start-->
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy"> © Copyright 2022 Abdolphin All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Full Page Search-->
    <div id="full-page-search">
        <button type="button" class="close">×</button>
        <form action="https://storage.googleapis.com/theme-vessel-items/checking-sites/housy-html/HTML/index.html#">
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-sm button-theme">Search</button>
        </form>
    </div>
    <script src="~/assets2/js/jquery-2.2.0.min.js"></script>
    <script src="~/assets2/js/popper.min.js"></script>
    <script src="~/assets2/js/bootstrap.min.js"></script>
    <script src="~/assets2/js/bootstrap-submenu.js"></script>
    <script src="~/assets2/js/rangeslider.js"></script>
    <script src="~/assets2/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/assets2/js/wow.min.js"></script>
    <script src="~/assets2/js/bootstrap-select.min.js"></script>
    <script src="~/assets2/js/jquery.easing.1.3.js"></script>
    <script src="~/assets2/js/jquery.scrollUp.js"></script>
    <script src="~/assets2/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets2/js/leaflet.js"></script>
    <script src="~/assets2/js/leaflet-providers.js"></script>
    <script src="~/assets2/js/leaflet.markercluster.js"></script>
    <script src="~/assets2/js/dropzone.js"></script>
    <script src="~/assets2/js/slick.min.js"></script>
    <script src="~/assets2/js/jquery.filterizr.js"></script>
    <script src="~/assets2/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets2/js/jquery.countdown.js"></script>
    <script src="~/assets2/js/maps.js"></script>
    <script src="~/assets2/js/app.js"></script>
    <!--IE10 viewport hack for Surface/desktop Windows 8 bug-->
    <script src="~/assets2/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4omYJlOaP814WDcCG8eubXcbhB-44Uac"></script>
</body>
</html>