@model Dolphin.Models.ForgotPassword

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="/assets33/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="/assets33/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/assets33/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- loader-->
    @*<link href="/assets33/css/pace.min.css" rel="stylesheet" />*@
    <script src="/assets33/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="/assets33/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets33/css/bootstrap-extended.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
    <link href="/assets33/css/app.css" rel="stylesheet">
    <link href="/assets33/css/icons.css" rel="stylesheet">
    <title></title>
    <style>
        .section-authentication-cover .authentication {
            align-items: center;
            height: 100vh;
        }
        @@media (min-width:992px){
             body{
               background: url(/assets33/images/login-images/body_bg.jpg);
                 background-repeat: no-repeat;
                  background-size: cover;
            }
        }
    </style>
</head>
<body class="">
    <!--wrapper-->
    <div class="wrapper">
        <div class="section-authentication-cover">
            <div class="container">
                <div class="row g-0 authentication justify-content-center">
                    <div class="col-12 col-xl-5 col-lg-5 d-none d-lg-block">
                        <div class="card shadow-none bg-transparent shadow-none rounded-0 mb-0" >
                            <div class="card-body">
                                <img src="/assets33/images/login-images/forgot-password-cover.svg" class="img-fluid" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 offset-lg-1" >
                        <div class="card" style="background: url(/assets33/images/login-images/login_bg.png);
    background-size: 100% 100%;" >
                            @using (Html.BeginForm("ForgotPassword", "ForgotPassword", FormMethod.Post))
                            {
                            <div class="card-body p-sm-5">
                                <div class="">
                                    <div class="mb-3 text-center">
                                        <img src="~/assets33/images/logo.png" width="100" alt="">
                                    </div>
                                    <div class="text-center mb-4">
                                        <h5 class="">Forgot Password</h5>
                                    </div>
                                    <div class="form-body">
                                        <form action="/Home/LoginActionWeb" method="GET" class="row g-3">
                                            <div class="col-12 mb-3">
                                                <label for="inputEmailAddress" class="form-label">Login Id</label>
                                                @Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", @required = "required" })
                                                <span class="form-bar"></span>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputChoosePassword" class="form-label">Mobile No</label>
                                                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @required = "required", @maxlength = "10", @onkeypress = "return isNumberOrDecimal(event)" })
                                                <span class="form-bar"></span>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="d-grid gap-2">
                                                    <p style="color: red" class="mt-1">
                                                        @TempData["recoverPassword"]
                                                    </p>
                                                    <input type="submit" id="btnGetPassword" class="btn text-white" style="background:#ab7d20;" name="btnGetPassword" value="Get Password"  />
                                                   

                                                    <a href="/Home/LoginWeb" style="background:#c6c7c89c;" class="forgot-password btn btn-light">Back To Login</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
    <!--end wrapper-->
    <!-- Bootstrap JS -->
    <script src="/assets33/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="/assets33/js/jquery.min.js"></script>
    <script src="/assets33/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="/assets33/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="/assets33/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <!--Password show & hide js -->
    <script>
         $(document).ready(function () {
         	$("#show_hide_password a").on('click', function (event) {
         		event.preventDefault();
         		if ($('#show_hide_password input').attr("type") == "text") {
         			$('#show_hide_password input').attr('type', 'password');
         			$('#show_hide_password i').addClass("bx-hide");
         			$('#show_hide_password i').removeClass("bx-show");
         		} else if ($('#show_hide_password input').attr("type") == "password") {
         			$('#show_hide_password input').attr('type', 'text');
         			$('#show_hide_password i').removeClass("bx-hide");
         			$('#show_hide_password i').addClass("bx-show");
         		}
         	});
         });
    </script>
    <script src="/assets33/js/app.js"></script>
</body>
</html>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function validateform() {

        $(".errortext").removeClass("errortext");

        if ($('#txtLoginID').val() == '') {
            $("#txtLoginID").addClass('errortext');
            $('#txtLoginID').focus();

            return false;
        }
        if ($('#txtPassword').val() == '') {
            $("#txtPassword").addClass('errortext');
            $('#txtPassword').focus();

            return false;
        }
        $("#divload").css({ 'display': '' });
    }
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
@*<script>
        window.onload = function () {
            document.addEventListener("contextmenu", function (e) {
                e.preventDefault();
            }, false);
            document.addEventListener("keydown", function (e) {
                //document.onkeydown = function(e) {
                // "I" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                    disabledEvent(e);
                }
                // "J" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                    disabledEvent(e);
                }
                // "S" key + macOS
                if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                    disabledEvent(e);
                }
                // "U" key
                if (e.ctrlKey && e.keyCode == 85) {
                    disabledEvent(e);
                }
                // "F12" key
                if (event.keyCode == 123) {
                    disabledEvent(e);
                }
            }, false);
            function disabledEvent(e) {
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
                e.preventDefault();
                return false;
            }
        }
    </script>*@


