@model Dolphin.Models.Plot

@{
    ViewBag.Title = "AccountHeadList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("AccountHeadList", "Admin", FormMethod.Post, new { @id = "form1" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Account Head List</h5>
                    <button class="btn btn-primary repeater-add-btn px-4"><a href="/Admin/AccountHead" class="text-white">Add New</a></button>
                </div>
                <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                    @TempData["msg"]
                </p>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table data-page-length='25' class="table table-striped table-bordered">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Name</th>
                                <th>Mobile No</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                        <tfoot>
                            @if (Model != null)
                            {
                                if (Model.lstAccountHead != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstAccountHead)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.Name</td>
                                            <td>@Item.Mobile</td>
                                            @if (Item.Status == "True")
                                            {
                                                <td><a class="btn btn-success py-1" href="/Admin/InActivateAccountHead?Id=@Item.AccountHeadId" style="border-radius:100px;"><span>Active</span></a></td>
                                            }
                                            else if (Item.Status == "False")
                                            {
                                                <td><a class="btn btn-danger btn-sm" href="/Admin/ActivateAccountHead?Id=@Item.AccountHeadId" style="border-radius:100px;"><span>InActive</span></a></td>
                                            }
                                            else
                                            {

                                            }
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="/Admin/DeleteAccountHead?Id=@Item.AccountHeadId"><span>Delete</span></a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>


    </div>

}



