@model Dolphin.Models.Website

@{
    ViewBag.Title = "CompanyOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="page-name">
            <h1>Company Overview</h1>
            <ul>
                <li>Home</li>
                <li><span>/</span>Company Overview</li>
            </ul>
        </div>
    </div>
</div>
<!-- About city estate start -->
<div class="about-real-estate content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="about-slider-box">
                    <img src="~/assets2/img/about.jpg" alt="Second" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 align-self-center">
                <div class="about-text">
                    <p class="tagline">Welcome To</p>
                    <h3>ABDOLPHIN Infratech</h3>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could</p>
                    <p class="mb-0">morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partners strat -->
<div class="partners">
    <div class="container">
        <h4>Brands and Partners</h4>
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 5, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 3}}, {"breakpoint": 768,"settings":{"slidesToShow": 2}}]}'>
                <div class="slick-slide-item"><img src="~/assets2/img/brand/brand-1.png" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="~/assets2/img/brand/brand-2.png" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="~/assets2/img/brand/brand-3.png" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="~/assets2/img/brand/brand-4.png" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="~/assets2/img/brand/brand-5.png" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="~/assets2/img/brand/brand-6.png" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="~/assets2/img/brand/brand-2.png" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="~/assets2/img/brand/brand-4.png" alt="brand" class="img-fluid"></div>
            </div>
            <div class="slick-prev slick-arrow-buton">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>

