@model Dolphin.Models.Website

@{
    ViewBag.Title = "CompanyOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- .page-title -->
<div class="page-title style-2">
    <div class="tf-container">
        <div class="row justify-center">
            <div class="col-lg-8">
                <div class="content-inner">
                    <div class="heading-title">
                        <h2 class="title">About Us</h2>
                        <ul class="breadcrumb justify-center">
                            <li><a class="home fw-6 text-color-3" href="/Website/Index">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .page-title -->
<!-- section-box-team -->
<section class="section-box-team  style-2 tf-spacing-1">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-inner">
                    <div class="heading-section  mb-48">
                        <h2 class="title text-anime-wave">
                            Abdolphin Infratech
                        </h2>
                    </div>
                    <div class="content mb-48 wow animate__fadeInUp animate__animated"
                         data-wow-duration="1s" data-wow-delay="0s">
                        <p class="text-1 description-1 mb-16">
                            At Abdolphin Infratech, we believe in turning dreams into addresses. We are more
                            than just a real estate company; we are the architects of your aspirations. Our
                            journey began with a vision to redefine the real estate landscape, and today, we
                            stand as a beacon of trust and excellence in the industry.
                        </p>
                        <p class="description-2 text-1 mb-24">
                            Our vision is to be the preferred choice for all your real estate needs,
                            offering innovative and customized solutions that exceed your expectations. We
                            believe in creating value for our clients by harnessing our in-depth market
                            knowledge, cutting-edge technology, and a passion for excellence.
                        </p>
                        <a href="#!"
                           class="tf-btn bg-color-primary pd-12 fw-7 wow animate__fadeInUp animate__animated"
                           data-wow-duration="1s" data-wow-delay="0s">Meet The Team</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wrap-image relative ">
                    <div class="image-wrap hover-img-wrap img-1 animate__zoomIn wow animate__animated"
                         data-wow-duration="2s">
                        <img class="lazyload parallax-img" data-src="/assetsWeb25/images/section/section-box-team.jpg"
                             src="/assetsWeb25/images/section/section-box-team.jpg" alt="">
                    </div>
                    <div class="image-wrap hover-img-wrap img-2 animate__zoomIn wow animate__animated"
                         data-wow-duration="2s">
                        <img class="lazyload parallax-img" data-src="/assetsWeb25/images/section/section-box-team-2.jpg"
                             src="/assetsWeb25/images/section/section-box-team-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-box-team -->
<!-- section-help -->
<section class="section-help tf-spacing-1">
    <div class="tf-container">
        <div class="row">
            <div class="col-12">
                <div class="heading-section text-center">
                    <h2 class="title text-anime-wave">Our Vision & Mission</h2>
                    <p class="text-1 wow animate__fadeInUp animate__animated" data-wow-duration="1.5s"
                       data-wow-delay="0s">
                        We innovate and collaborate to empower communities, fostering sustainability, creativity, integrity, and impactful change.
                    </p>
                </div>
                <div class="tf-grid-layout md-col-2 mb-6">
                    <div class="icons-box  style-3 wow animate__zoomIn animate__animated"
                         data-wow-duration="1.5s" data-wow-delay="0s">
                        <div class="tf-icon ">
                            <i class="icon-agent-2"></i>
                        </div>
                        <div class="content">
                            <h5 class="title "><a href="#">Our Vision</a></h5>
                            <p class=" text-1">
                                Our vision is to be the preferred choice for all your real estate needs, offering innovative and customized solutions that exceed your expectations. We believe in creating value for our clients by harnessing our in-depth market knowledge, cutting-edge technology, and a passion for excellence.
                            </p>
                        </div>
                    </div>
                    <div class="icons-box  style-3  wow animate__zoomIn animate__animated"
                         data-wow-duration="1.5s" data-wow-delay="0s">
                        <div class="tf-icon ">
                            <i class="icon-location-4"></i>
                        </div>
                        <div class="content">
                            <h5 class="title "><a href="#">Our Mission</a></h5>
                            <p class="text-1">
                                At Abdolphin Infratech, our mission is to facilitate seamless real estate transactions while upholding the highest standards of integrity and ethics. We strive to provide a comprehensive range of services, from buying and selling properties to property management and investment advisory, all designed to simplify your real estate journey.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section-help -->
<!-- section-local-agent -->
<section class="section-local-agent tf-spacing-1 pb-0">
    <div class="tf-container">
        <div class="row ">
            <div class="col-12 ">
                <div class="heading-section mb-48 text-center">
                    <h2 class="title text-anime-wave">Our Team</h2>
                    <p class="text-1 wow animate__fadeInUp animate__animated" data-wow-duration="1.5s"
                       data-wow-delay="0s">
                        Our team is a diverse group of dedicated professionals committed to delivering innovative solutions, fostering collaboration, and achieving excellence in every project we undertake.
                    </p>
                </div>
                <div class="swiper style-pagination tf-sw-mobile-1 " data-screen="575" data-preview="1"
                     data-space="15">
                    <div class="swiper-wrapper tf-layout-mobile-sm sm-col-2 lg-col-4 mb-48">
                        <div class="swiper-slide">
                            <div class="agent-item hover-img style-2 wow animate__fadeInUp animate__animated"
                                 data-wow-duration="1s" data-wow-delay="0s">
                                <div class="image-wrap">
                                    <a href="#!">
                                        <img class="lazyload" data-src="/assetsWeb25/images/team/agent-1.jpg"
                                             src="/assetsWeb25/images/team/agent-1.jpg" alt="">
                                    </a>
                                    <ul class="tf-social style-3">
                                        <li><a href="#!"><i class="icon-fb"></i></a></li>
                                        <li><a href="#!"><i class="icon-X"></i></a></li>
                                        <li><a href="#!"><i class="icon-linked"></i></a></li>
                                        <li><a href="#!"><i class="icon-ins"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content justify-center">
                                    <div class="author text-center">
                                        <h5 class="name lh-30"><a href="#!">Jitendra Kumar Gupta</a></h5>
                                        <p class="text-2 lh-18">Director</p>
                                    </div>
                                </div>
                                <div class="wrap-btn-icon">
                                    <a href="#!" class="btn-icon phone hover-tooltip style-2">
                                        <i class="icon-phone-3"></i><span class="tooltip ">Call</span>
                                    </a>
                                    <a href="#!" class="btn-icon message hover-tooltip style-2">
                                        <i class="icon-letter"></i><span class="tooltip ">Message</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agent-item hover-img style-2 wow animate__fadeInUp animate__animated"
                                 data-wow-duration="1s" data-wow-delay="0.1s">
                                <div class="image-wrap">
                                    <a href="#!">
                                        <img class="lazyload" data-src="/assetsWeb25/images/team/agent-2.jpg"
                                             src="/assetsWeb25/images/team/agent-2.jpg" alt="">
                                    </a>
                                    <ul class="tf-social style-3">
                                        <li><a href="#!"><i class="icon-fb"></i></a></li>
                                        <li><a href="#!"><i class="icon-X"></i></a></li>
                                        <li><a href="#!"><i class="icon-linked"></i></a></li>
                                        <li><a href="#!"><i class="icon-ins"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content justify-center">
                                    <div class="author text-center">
                                        <h5 class="name lh-30"><a href="#!">Sunil Kumar Yadav</a></h5>
                                        <p class="text-2 lh-18">
                                            Director
                                        </p>
                                    </div>
                                </div>
                                <div class="wrap-btn-icon">
                                    <a href="#!" class="btn-icon phone hover-tooltip style-2">
                                        <i class="icon-phone-3"></i><span class="tooltip ">Call</span>
                                    </a>
                                    <a href="#!" class="btn-icon message hover-tooltip style-2">
                                        <i class="icon-letter"></i><span class="tooltip ">Message</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agent-item hover-img style-2 wow animate__fadeInUp animate__animated"
                                 data-wow-duration="1s" data-wow-delay="0.2s">
                                <div class="image-wrap">
                                    <a href="#!">
                                        <img class="lazyload" data-src="/assetsWeb25/images/team/agent-3.jpg"
                                             src="/assetsWeb25/images/team/agent-3.jpg" alt="">
                                    </a>
                                    <ul class="tf-social style-3">
                                        <li><a href="#!"><i class="icon-fb"></i></a></li>
                                        <li><a href="#!"><i class="icon-X"></i></a></li>
                                        <li><a href="#!"><i class="icon-linked"></i></a></li>
                                        <li><a href="#!"><i class="icon-ins"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content justify-center">
                                    <div class="author text-center">
                                        <h5 class="name lh-30"><a href="#!">Kifayatullah Khan</a></h5>
                                        <p class="text-2 lh-18">Director</p>
                                    </div>
                                </div>
                                <div class="wrap-btn-icon">
                                    <a href="#!" class="btn-icon phone hover-tooltip style-2">
                                        <i class="icon-phone-3"></i><span class="tooltip ">Call</span>
                                    </a>
                                    <a href="#!" class="btn-icon message hover-tooltip style-2">
                                        <i class="icon-letter"></i><span class="tooltip ">Message</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="agent-item hover-img style-2 wow animate__fadeInUp animate__animated"
                                 data-wow-duration="1s" data-wow-delay="0.3s">
                                <div class="image-wrap">
                                    <a href="#!">
                                        <img class="lazyload" data-src="/assetsWeb25/images/team/agent-4.jpg"
                                             src="/assetsWeb25/images/team/agent-4.jpg" alt="">
                                    </a>
                                    <ul class="tf-social style-3">
                                        <li><a href="#!"><i class="icon-fb"></i></a></li>
                                        <li><a href="#!"><i class="icon-X"></i></a></li>
                                        <li><a href="#!"><i class="icon-linked"></i></a></li>
                                        <li><a href="#!"><i class="icon-ins"></i></a></li>
                                    </ul>
                                </div>
                                <div class="content justify-center">
                                    <div class="author text-center">
                                        <h5 class="name lh-30"><a href="#!">Kunj Bihari Tiwari</a></h5>
                                        <p class="text-2 lh-18">Director</p>
                                    </div>
                                </div>
                                <div class="wrap-btn-icon">
                                    <a href="#!" class="btn-icon phone hover-tooltip style-2">
                                        <i class="icon-phone-3"></i><span class="tooltip ">Call</span>
                                    </a>
                                    <a href="#!" class="btn-icon message hover-tooltip style-2">
                                        <i class="icon-letter"></i><span class="tooltip ">Message</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sw-pagination sw-pagination-mb-1 text-center d-lg-none d-block mb-20"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-local-agent -->