@model Dolphin.Models.Website

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="page-name">
            <h1>Gallery</h1>
            <ul>
                <li>Home</li>
                <li><span>/</span>Gallery</li>
            </ul>
        </div>
    </div>
</div>

<!-- Photo gallery start -->
<div class="photo-gallery content-area">
    <div class="container">
        <div class="main-title">
            <h1>Photo Gallery</h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/cp1.jpg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/cp1.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/cp2.jpg" title="Park Avenue">
                        <img src="~/assets2/img/properties/cp2.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/cp3.jpg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/cp3.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/cp4.jpg" title="Park Avenue">
                        <img src="~/assets2/img/properties/cp4.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/cp5.jpg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/cp5.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/cp6.jpg" title="Park Avenue">
                        <img src="~/assets2/img/properties/cp6.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab1.jpg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab1.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab2.jpg" title="Park Avenue">
                        <img src="~/assets2/img/properties/ab2.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab3.jpg" title="Masons Villas">
                        <img src="~/assets2/img/properties/ab3.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab4.jpg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab4.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab5.jpg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab5.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab6.jpg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab6.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab7.jpg" title="Park Avenue">
                        <img src="~/assets2/img/properties/ab7.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab8.jpg" title="Masons Villas">
                        <img src="~/assets2/img/properties/ab8.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab9.jpg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab9.jpg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab10.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab10.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab11.jpeg" title="Park Avenue">
                        <img src="~/assets2/img/properties/ab11.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab12.jpeg" title="Masons Villas">
                        <img src="~/assets2/img/properties/ab12.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab13.jpeg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab13.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab14.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab14.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab15.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab15.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab16.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab16.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab17.jpeg" title="Park Avenue">
                        <img src="~/assets2/img/properties/ab17.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab18.jpeg" title="Masons Villas">
                        <img src="~/assets2/img/properties/ab18.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab19.jpeg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab19.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab20.jpeg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab20.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab21.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab21.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab22.jpeg" title="Park Avenue">
                        <img src="~/assets2/img/properties/ab22.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab23.jpeg" title="Masons Villas">
                        <img src="~/assets2/img/properties/ab23.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab24.jpeg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab24.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab25.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab25.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab26.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab26.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab27.jpeg" title="Park Avenue">
                        <img src="~/assets2/img/properties/ab27.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab28.jpeg" title="Masons Villas">
                        <img src="~/assets2/img/properties/ab28.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab29.jpeg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab29.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab30.jpeg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab30.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab31.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab31.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab32.jpeg" title="Park Avenue">
                        <img src="~/assets2/img/properties/ab32.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab33.jpeg" title="Masons Villas">
                        <img src="~/assets2/img/properties/ab33.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab34.jpeg" title="Big Head House">
                        <img src="~/assets2/img/properties/ab34.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab35.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab35.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-4">
                <div class="portfolio-item">
                    <a href="~/assets2/img/properties/ab36.jpeg" title="Relaxing Apartment">
                        <img src="~/assets2/img/properties/ab36.jpeg" alt="gallery-photo" class="img-fluid">
                    </a>
                    <div class="portfolio-content">
                        <div class="portfolio-content-inner">
                            <p>Abdolphin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination-box hidden-mb-45 text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
            </li>
            <li class="page-item"><a class="page-link active" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
            </li>
        </ul>
    </nav>
</div>