@model Dolphin.Models.Website

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <div class="breadcrumb-wrap bg-f galleryBrea">
        <div class="container">
            <div class="breadcrumb-title">
                <h2>Our Gallery</h2>
                <ul class="breadcrumb-menu list-style">
                    <li><a href="/Website/Index">Home </a></li>
                    <li>Our Gallery</li>
                </ul>
            </div>
        </div>
    </div>



    <section class="property-wrap ptb-100">
        <div class="container">
            <div class="row section-title style1 mb-40  text-center">
                <div class="col-md-12">
                    <h2>Our Gallery</h2>
                </div>
            </div>
            <ul class="nav nav-tabs property-tablist border-bottom pb-20 justify-content-center" role="tablist">
                <li class="nav-item">
                    <button class="nav-link tabBtn rounded active" data-bs-toggle="tab" data-bs-target="#tab_1" type="button"
                            role="tab">
                        Events
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link tabBtn rounded" data-bs-toggle="tab" data-bs-target="#tab_2" type="button"
                            role="tab">
                        Site
                    </button>
                </li>
                <!-- <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab_3" type="button"
                        role="tab">Apartments</button>
                </li> -->
            </ul>
            <div class="tab-content hw-tab-content">
                <div class="tab-pane fade show active" id="tab_1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g1.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g1.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g2.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g2.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g3.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g3.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g4.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g4.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g5.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g5.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g6.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g6.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g7.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g7.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g8.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g8.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g9.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g9.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g10.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g10.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g11.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g11.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g12.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g12.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g13.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g13.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g14.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g14.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g15.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g15.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g16.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g16.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g17.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g17.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g18.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g18.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g19.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g19.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g20.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g20.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g21.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g21.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g22.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g22.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g23.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g23.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g24.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g24.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g25.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g25.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g26.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g26.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g27.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g27.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g28.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g28.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g29.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g29.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g30.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g30.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g31.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g31.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g32.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g32.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g33.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g33.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g34.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g34.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g35.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g35.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g36.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g36.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g37.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g37.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g38.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g38.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g39.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g39.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g40.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g40.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g41.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g41.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g42.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g42.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g43.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g43.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g42.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g42.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g43.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g43.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g44.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g44.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g45.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g45.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g46.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g46.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g47.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g47.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g48.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g48.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g49.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g49.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g50.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g50.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g51.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g51.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g52.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g52.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g53.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g53.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g54.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g54.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g55.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g55.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g56.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g56.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g57.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g57.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g58.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g58.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g59.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g59.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g60.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g60.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g61.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g61.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/g62.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/g62.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g63.jpg" title="relaxing apartment">
                                    <img src="/assetsweb/img/gallery/g63.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g64.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g64.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g65.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g65.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g66.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g66.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g67.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g67.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g68.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g68.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g69.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g69.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g70.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g70.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g71.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g71.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g72.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g72.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g73.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g73.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g74.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g74.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g75.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g75.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g76.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g76.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g77.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g77.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g78.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g78.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g79.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g79.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g80.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g80.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g81.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g81.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g82.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g82.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g83.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g83.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g4.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g4.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g85.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g85.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g86.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g86.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g87.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g87.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g88.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g88.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g89.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g89.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g90.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g90.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g91.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g91.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g92.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g92.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g93.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g93.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g94.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g94.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        @*<div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item"> 
                                <a data-lightbox="photos" href="/assetsweb/img/gallery/g95.jpg" title="Relaxing Apartment">
                                    <img src="/assetsweb/img/gallery/g95.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>*@

                    </div>
                </div>
                <div class="tab-pane fade" id="tab_2" role="tabpanel">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/cp1.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/cp1.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/cp2.jpg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/cp2.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/cp3.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/cp3.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/cp4.jpg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/cp4.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/cp5.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/cp5.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/cp6.jpg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/cp6.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab1.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab1.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab3.jpg" title="Masons Villas">
                                    <img src="/assetsWeb/img/gallery/ab3.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab4.jpg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab4.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab5.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab5.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab6.jpg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab6.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab7.jpg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/ab7.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab8.jpg" title="Masons Villas">
                                    <img src="/assetsWeb/img/gallery/ab8.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab9.jpg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab9.jpg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab10.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab10.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab11.jpeg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/ab11.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab12.jpeg" title="Masons Villas">
                                    <img src="/assetsWeb/img/gallery/ab12.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab13.jpeg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab13.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab14.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab14.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab15.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab15.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab16.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab16.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab17.jpeg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/ab17.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab18.jpeg" title="Masons Villas">
                                    <img src="/assetsWeb/img/gallery/ab18.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab19.jpeg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab19.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab20.jpeg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab20.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab21.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab21.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab22.jpeg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/ab22.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab23.jpeg" title="Masons Villas">
                                    <img src="/assetsWeb/img/gallery/ab23.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab24.jpeg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab24.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab25.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab25.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab26.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab26.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab27.jpeg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/ab27.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab28.jpeg" title="Masons Villas">
                                    <img src="/assetsWeb/img/gallery/ab28.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab29.jpeg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab29.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab30.jpeg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab30.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab31.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab31.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab32.jpeg" title="Park Avenue">
                                    <img src="/assetsWeb/img/gallery/ab32.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab33.jpeg" title="Masons Villas">
                                    <img src="/assetsWeb/img/gallery/ab33.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab34.jpeg" title="Big Head House">
                                    <img src="/assetsWeb/img/gallery/ab34.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab35.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab35.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        @*<div class="col-md-3 col-sm-6 mt-4">
                            <div class="portfolio-item">
                                <a data-lightbox="photos" href="/assetsWeb/img/gallery/ab36.jpeg" title="Relaxing Apartment">
                                    <img src="/assetsWeb/img/gallery/ab36.jpeg" alt="gallery-photo" class="img-fluid">
                                </a>
                            </div>
                        </div>*@
                    </div>
                </div>
                <!-- <div class="tab-pane fade" id="tab_3" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit optio atque voluptatem velit omnis alias incidunt blanditiis ea inventore quaerat.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>



</div>