@model Dolphin.Models.Website

@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="page-name">
            <h1>Our Team</h1>
            <ul>
                <li>Home</li>
                <li><span>/</span>Our Team</li>
            </ul>
        </div>
    </div>
</div>

<!-- Our team 2 start -->
<div class="our-team-2 content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Team Members</h1>
        </div>
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="team-photo">
                            <a href="#">
                                <img src="~/assets2/img/avatar/jitender.jpg" alt="team" class="img-fluid">
                            </a>
                        </div>
                        <div class="team-details">
                            <h5>Jitendra Kumar Gupta</h5>
                            <h6>Director</h6>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="team-photo">
                            <a href="#">
                                <img src="~/assets2/img/avatar/sunil.jpg" alt="team" class="img-fluid">
                            </a>
                        </div>
                        <div class="team-details">
                            <h5>Sunil Kumar Yadav</h5>
                            <h6>Director</h6>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="team-photo">
                            <a href="#">
                                <img src="~/assets2/img/avatar/kifayatullah.jpg" alt="team" class="img-fluid">
                            </a>
                        </div>
                        <div class="team-details">
                            <h5>kifayatullah Khan</h5>
                            <h6>Director</h6>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="team-photo">
                            <a href="#">
                                <img src="~/assets2/img/avatar/kunj.jpg" alt="team" class="img-fluid">
                            </a>
                        </div>
                        <div class="team-details">
                            <h5>Kunj Bihari Tiwari</h5>
                            <h6>Director</h6>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

