@model Dolphin.Models.Website

@{
    ViewBag.Title = "QualityPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- .page-title -->
<div class="page-title style-2">
    <div class="tf-container">
        <div class="row justify-center">
            <div class="col-lg-8">
                <div class="content-inner">
                    <div class="heading-title">
                        <h2 class="title">Quality Policy </h2>
                        <ul class="breadcrumb justify-center">
                            <li><a class="home fw-6 text-color-3" href="/Website/Index">Home</a></li>
                            <li>Quality Policy </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .page-title -->
<!-- section-box-team -->
<section class="section-box-team  style-2 tf-spacing-1">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-inner">
                    <div class="heading-section  mb-48">
                        <h2 class="title text-anime-wave">
                            Quality Policy
                        </h2>
                    </div>
                    <div class="content mb-48 wow animate__fadeInUp animate__animated"
                         data-wow-duration="1s" data-wow-delay="0s">
                        <p class="text-1 description-1 mb-16">
                            At Abdolphin Infratech, we are committed to delivering the highest standards of quality in every aspect of our real estate services. Our dedication to quality is driven by our unwavering commitment to our clients, employees, and stakeholders. We understand that the pursuit of excellence is a continuous journey, and we strive to meet and exceed the expectations of our clients by adhering to the following principles:
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wrap-image relative ">
                    @*<div class="image-wrap hover-img-wrap img-1 animate__zoomIn wow animate__animated"
                         data-wow-duration="2s">
                        <img class="lazyload parallax-img" data-src="/assetsWeb25/images/section/qualityPolicy.jpg"
                             src="/assetsWeb25/images/section/qualityPolicy.jpg" alt="">
                    </div>*@
                    <div class="image-wrap hover-img-wrap img-2 animate__zoomIn wow animate__animated"
                         data-wow-duration="2s">
                        <img class="lazyload parallax-img w-100" data-src="/assetsWeb25/images/section/qualityPolicy2.jpg"
                             src="/assetsWeb25/images/section/qualityPolicy2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /section-box-team -->
