@model Dolphin.Models.Website

@{
    ViewBag.Title = "VisionAndMission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Sub banner start -->
<div class="content-wrapper">

    <div class="breadcrumb-wrap bg-f br-2">
        <div class="container">
            <div class="breadcrumb-title">
                <h2>Vision And Mission</h2>
                <ul class="breadcrumb-menu list-style">
                    <li><a href="/Website/Index">Home </a></li>
                    <li>Vision And Mission</li>
                </ul>
            </div>
        </div>
    </div>


    <section class="about-wrap style2  pt-100 pb-100 bg-seashell">
        <div class="container">
            <div class="about-box">
                <img src="~/assetsWeb/img/about/about-shape-3.png" alt="Image" class="about-shape-three">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-5" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                        <div class="">
                            <img src="~/assetsWeb/img/vision-mission.jpg" class="rounded" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="200">
                        <div class="about-content">
                            <div class="content-title style2">
                                <span>Abdolphin</span>
                                <h2>Vision And Mission</h2>
                                <p>
                                    Partner with a top neighborhood specialist to sell your home. Combined with our high level marketing approach, negotiation skills, technology, transparency, and experience, our concierge service provides results second to none
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="partner-wrap ptb-50">
        <div class="section-title style1 text-center mb-40">
            <h2>Brand And Partners</h2>
        </div>
        <div class="container">
            <div class="partner-slider owl-carousel">
                <div class="partner-item">
                    <img src="~/assetsWeb/img/partner/partner-1.png" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="~/assetsWeb/img/partner/partner-2.png" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="~/assetsWeb/img/partner/partner-3.png" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="~/assetsWeb/img/partner/partner-4.png" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="~/assetsWeb/img/partner/partner-5.png" alt="Image">
                </div>
                <div class="partner-item">
                    <img src="~/assetsWeb/img/partner/partner-6.png" alt="Image">
                </div>
            </div>
        </div>
    </div>

</div>

