@model Dolphin.Models.Home
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Abdolphin -Real Estate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!--External CSS libraries-->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/bootstrap-submenu.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets2/css/leaflet.css" type="text/css">
    <link rel="stylesheet" href="~/assets2/css/map.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/assets2/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/slick.css">

    <!--Custom stylesheet-->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/assets2/css/skins/default.css">

    <!--Favicon icon-->
    <link rel="shortcut icon" href="~/assets2/img/favicon.png" type="image/x-icon">

    <!--Google fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CRoboto:300,400,500,700&amp;display=swap">

    <!--IE10 viewport hack for Surface/desktop Windows 8 bug-->
    <link rel="stylesheet" type="text/css" href="~/assets2/css/ie10-viewport-bug-workaround.css">

    <!--[if lt IE 9]><script src="~/assets2/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/assets2/js/ie-emulation-modes-warning.js"></script>

</head>
<body>
    <div class="page_loader"></div>

    <!-- Contact section start -->
    <div class="contact-section">
        <div class="container">
            <div class="row login-box">
                <div class="col-lg-6 align-self-center pad-0">
                    <div class="form-section align-self-center">
                        <h3>Sign into your account</h3>
                        <div class="btn-section clearfix">
                            <a href="#" class="link-btn active btn-1 active-bg" style="cursor:default">Login</a>
                            <a href="/Website/Index" class="link-btn btn-2 default-bg">Home</a>
                            
                        </div>
                        <p style="color:red">@TempData["Login"]</p>
                        <div class="clearfix"></div>
                        <form action="/Home/LoginActionWeb" method="GET">
                              
                                <div class="form-group form-box">
                                    @*<input type="email" name="email" class="input-text" placeholder="Login Id">*@
                                    <input class="input-text" type="text" id="txtLoginID" name="LoginID" placeholder="Login Id">
                                </div>
                                <div class="form-group form-box clearfix">
                                    @*<input type="password" name="Password" class="input-text" placeholder="Password">*@
                                    <input class="input-text" type="password" id="txtPassword" name="password" placeholder="Password">
                                </div>
                                <div class="form-group clearfix">
                                    <button type="submit" class="btn-md btn-theme float-left" onclick="return validateform()">Login</button>
                                    <a href="/Home/ForgetPassword" class="forgot-password">Forgot Password</a>
                                </div>
</form>
                        @*<p>Don't have an account? <a href="/Website/Registration">Register here</a></p>*@
                    </div>
                </div>
                <div class="col-lg-6 bg-color-15 align-self-center pad-0 none-992 bg-img">
                    <div class="info clearfix">
                        <a href="/Website/Index">
                            <div class="logo-2">
                                <img src="~/assets2/img/logos/logo.png" class="cm-logo" alt="black-logo">
                            </div>
                        </a>
                            <h3>Welcome to Abdolphin</h3>
                            <div class="social-list">
                                <a href="#" class="facebook-bg">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="twitter-bg">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="google-bg">
                                    <i class="fa fa-google"></i>
                                </a>
                                <a href="#" class="linkedin-bg">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Full Page Search-->
    <div id="full-page-search">
        <button type="button" class="close">×</button>
        <form action="https://storage.googleapis.com/theme-vessel-items/checking-sites/housy-html/HTML/index.html#">
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-sm button-theme">Search</button>
        </form>
    </div>

    <script src="~/assets2/js/jquery-2.2.0.min.js"></script>
    <script src="~/assets2/js/popper.min.js"></script>
    <script src="~/assets2/js/bootstrap.min.js"></script>
    <script src="~/assets2/js/bootstrap-submenu.js"></script>
    <script src="~/assets2/js/rangeslider.js"></script>
    <script src="~/assets2/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/assets2/js/wow.min.js"></script>
    <script src="~/assets2/js/bootstrap-select.min.js"></script>
    <script src="~/assets2/js/jquery.easing.1.3.js"></script>
    <script src="~/assets2/js/jquery.scrollUp.js"></script>
    <script src="~/assets2/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets2/js/leaflet.js"></script>
    <script src="~/assets2/js/leaflet-providers.js"></script>
    <script src="~/assets2/js/leaflet.markercluster.js"></script>
    <script src="~/assets2/js/dropzone.js"></script>
    <script src="~/assets2/js/slick.min.js"></script>
    <script src="~/assets2/js/jquery.filterizr.js"></script>
    <script src="~/assets2/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets2/js/jquery.countdown.js"></script>
    <script src="~/assets2/js/maps.js"></script>
    <script src="~/assets2/js/app.js"></script>

    <!--IE10 viewport hack for Surface/desktop Windows 8 bug-->

    <script src="~/assets2/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4omYJlOaP814WDcCG8eubXcbhB-44Uac"></script>


</body>

</html>

<script>
    function validateform() {
        if ($('#txtLoginID').val() == '') {
            $("#txtLoginID").addClass('errortext');
            $('#txtLoginID').focus();
            $('#txtLoginID').val('');
            return false;
        }
        if ($('#txtPassword').val() == '') {
            $("#txtPassword").addClass('errortext');
            $('#txtPassword').focus();
            $('#txtLoginID').val('');
            return false;
        }

        return true;
    }
</script>

<style>
    .errortext {
        border: 2px solid red !important;
        background-color: #fff0f0 !important;
    }

    .successtext {
        border: 2px solid red !important;
        background-color: #808080 !important;
    }
</style>